@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    border:0;
}
.header{
    background-color: #EFEFEF;
    height: 100vh;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.header .tab{
    display:flex;
    justify-content: space-between;
    padding:5vh 10vh;
    align-items: center;
}
.header .tab .lang a{
    font-size: 3vh;
    color: #B1B1B1;
    padding: 0 1vh;
    cursor: pointer;
    text-decoration: none;
}
.header .tab .lang .active{
    color: #666666 !important;
}
.header .tab .logo img{
    width: 20vh;
}
.header .body{
    display: flex;
    padding: 10vh 17vh;
}
.header .body .desc h1{
    font-size: 5.5vh;
    color:#4B4B4B;
}
.header .body .desc h3{
    text-align: right;
    font-size: 3.9vh;
    color:#806C6C;
    padding: 8vh 3vh
}
.header .body .photo img{
    width: 25vh;
    height: 25vh;
    border-radius:100%;
    border:3px solid #666666;
}
.socialmedia{
    text-align: center;
}
.socialmedia img{
    width: 5vh;
    padding: 0.4vh;
    height: 5vh;
    border-radius: 100%;
}